* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    border-bottom: 1px solid #ddd;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    width: 50px;
    height: auto;
}

.nav-links a,
.find-store {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.2px;
}

.btn {
    padding: 8px 18px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.btn-outline {
    background: white;
    border: 1px solid black;
}

.btn-dark {
    background: black;
    color: white;
    border: none;
}

.main-banner {
    display: flex;
    background-color: #d4e9e2;
    height: 400px;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.banner-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.banner-text h1 {
    font-size: 40px;
    color: #1e3932;
}

.banner-text h2 {
    font-size: 24px;
    color: #1e3932;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn-order {
    width: fit-content;
    padding: 10px 20px;
    background: #1e3932;
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.banner-img {
    flex: 1;
}

.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drinks-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.drink-item {
    text-align: center;
    width: 150px;

    position: relative;
}


.drink-item::before {
    content: "NUEVO";
    position: absolute;
    top: -5px;
    right: 10px;
    background: #00754a;
    color: white;
    font-size: 10px;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 10;
}

.drink-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.drink-item img:hover {
    transform: scale(1.1);
}

.drink-item p {
    font-weight: bold;
    color: #1e3932;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }

    .nav-right {
        display: none;
    }

    .main-banner {
        flex-direction: column;
        height: auto;
        margin: 15px;
    }

    .banner-img {
        order: 1;
        height: 250px;
    }

    .banner-text {
        order: 2;
        padding: 30px;
        text-align: center;
        align-items: center;
    }

    .banner-text h1 {
        font-size: 30px;
    }
}